# dev stuff (IDE configs etc)
.idea/
composer.phar
nbproject/*
.vagrant/*
.buildpath/*
.project/*
.settings/*
desktop.ini
.phplint-cache
.phpcs-cache
gen/

# dynamic vendor stuff
/vendor/*
node_modules/*

# general extensions of files we dont want
*.log

# project stuff
config/private.ini
routes.cache.php
CompiledContainer.php
logs/*
public/static/*

# these files might exist on production and we dont really want them
/*.sh
scripts/
.htaccess
.well-known/
