# dev stuff (IDE configs etc)
.idea/
nbproject/*
.vagrant/*
.buildpath/*
.project/*
.settings/*
desktop.ini

# dynamic vendor stuff
/vendor/*
/cache/*

# general extensions of files we dont want
*.log

# project stuff
config/private.ini
routes.cache.php
logs/*
