parameters:
    level: 6
    paths:
        - src
        - dispatch.php
        - public/bootstrap.php
    bootstrapFiles:
        - phpstan.bootstrap.php
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Call to an undefined method Psr\\Container\\ContainerInterface::set#'
        - '#Call to an undefined method Psr\\Http\\Message\\ResponseInterface::withJson#'
        - '#Method Status\\Config\\Config::offset(Exists|Get|Set|Unset)\(\) has (no return|parameter \$.+ with no) type specified#'
services:
	-
		class: Status\PHPStan\PropertiesExtension
		tags:
			- phpstan.properties.readWriteExtension