[Unit]
Description=Webpack watch service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=never
User=vagrant
WorkingDirectory=/code
ExecStart=/usr/bin/pnpm exec webpack --watch

[Install]
WantedBy=multi-user.target
