body {
  font: 14px "Noto Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding-top: 30px;
  background: #323442;
  color: #aeaeae;
  text-align: center;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}

#logo {
  background: url(/assets/img/logo.svg);
  width: 128px;
  height: 128px;
  background-size: 128px;
  margin: 0 auto 30px;
}

h1, h2 {
  font-weight: normal;
}
h1 {
  display: inline;
  font-size: 2em;
  color: #fafafa;
}

h2 span {
  display: block;
  width: 100%;
  text-align: center;
}
h2 span.status {
  font-weight: bold;
}

a {
  color: #ed106a;
}

ul {
  padding: 0;
}
li {
  list-style-type: none;
}

#status {
  position: relative;
  width: 600px;
  margin: 30px auto;
  *zoom: 1;
}
#status:before, #status:after {
  display: table;
  content: "";
}
#status:after {
  clear: both;
}

#status li {
  width: 150px;
  float: left;
  margin: 0;
  text-align: center;
}

#feed {
  margin: 60px auto;
  width: 500px;
  font-size: .8em;
}
#feed li {
  padding: 15px;
}

hr {
  border: none;
  height: 1px;
  background: #555;
}

@media only screen and (max-width: 599px) {
  #status {
    width: auto;
  }
  #status li {
    float: none;
	width: auto;
	padding: 10px 0;
  }
  #feed { width: auto; }
}

.normal {
  color: #86ad4c;
}

.issues, .intermittent {
  color: #E8CB2D;
}

.down, .maintenance {
  color: #dd606f;
}

.details {
  font-family: Consolas, Courier New, Arial, sans-serif;
  font-size: .8em;
  border-radius: 4px;
}

.debuginfo {
  text-align: right;
  padding: 5px;
  color: gray;
  font-size: smaller;
  clear: both;
}

#tracker-details {
  width: 195px;
}
