{% include "@layout/base/head.twig" %}
<div id="page-container">
    <div id="content-wrap">
        {% block the_page %}
        {% endblock %}
    </div>
    <div id="footer">
        Site and design &copy; {{ "now"|date('Y') }} {{ config('app.site_name') }} | <a href="{{ path('api:status') }}">API</a>
    </div>
</div>
{% include "@layout/base/foot.twig" %}