{% include "@layout/base/head.twig" %}
<div id="page-container">
    <div id="content-wrap">
        {% block the_page %}
        {% endblock %}
    </div>
    {% include "@layout/base/foot.twig" %}
</div>